.product {
  display: flex;
  flex-direction: column;
  width: 90px;
  gap: 5px;
  position: relative;
}

.img {
  width: 75px;
  margin: 0 auto;
  background: var(--tg-theme-button-color);
}

.title {
  font-size: 13px;
  width: 100px;
  font-weight: 400;
  text-align: center;

  .span {
    font-weight: 500;
  }
}

.addBtn {
  width: 100%;
  margin: 0 auto;
}

.circle {
  position: absolute;
  top: -10px;
  right: -10px; 
  min-width: 24px;
  min-height: 24px;
  width: auto;
  height: auto;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation: growCircle 0.1s ease-in-out;
}

@keyframes growCircle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); 
  }
  100% {
    transform: scale(1);
  }
}